@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  font-family: roboto, Arial, Helvetica, sans-serif;
  --title: 1.2rem;
  --subtitle: 1.2rem;
  --label: 0.875rem;

  --bg-danger:red;
  --bg-success:green;
  --white:white;
}
